/* background #004643  */
/* button text #001e1d  */
/* paragraph #abd1c6 */
/* headline #fffffe */
/* Button #f9bc60 */
*{
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  body{
    width: 100vw;
    height: 100vh;
    background: url(../assets/download.jpg)no-repeat center fixed;
    background-size: cover;
  }
header{
  padding: 2rem;
  text-align: center;
}
h1{
  font-size: 2.2rem;
}
h2{
  font-size: 1.9rem;
}
  img {
    display: block;
    width: 14rem;
    height: 14rem;
    margin: 0 auto;
    border: 2px solid rgb(127, 90, 240, 0.3);
    border-radius: 50%;
    padding: 0.3rem;
  }
  p {
    width: 80vw;
    padding: 3px;
    margin: 0 auto;
    font-family: "Rancho", cursive;
    font-weight: 400;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: rgb(127, 90, 240, 0.2);
    padding: 1rem;
    border-radius: 4%;
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 600px) {

  .container{
    background-color: rgb(0, 70, 67, 0.95);
    width: 65vw;
    margin: 5% auto;
    padding: 2rem;
    border-radius: 10px;
  }
  header{
    font-family: "Fruktur", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1rem;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
  }
  article {
    display: flex;
    justify-content: space-evenly;
  }
  
  img {
    width: 15vw;
    height: 35vh;
    border-radius: 20px;
  }
  
  p {
    margin-left: 2vw;
    color: #f9bc60;
    font-family: "Rancho", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.9vh;
    letter-spacing: 0.1vh;
    align-self: center;
    width: 35vw;
    background-color: rgb(0, 70, 67, 0.95);
  }
  

}

